/* css - conteudo da pagina contact */

.content-contact{
    background-image: url(../images/fundo-contato.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4%;
    color: white;
}

.topo-pagina-contact{
    padding-top: 5%;
    padding-bottom: 3%;
}

.contact{
    width: 80%;
    min-height: 70vw;
}

.input-texto{
    margin-bottom: 1%;
    font-size: 2.1vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

.input1{
    width: 75%;
}

.input2{
    width: 100%; 
    min-height: 30vh;
}

.input-texto::placeholder{
    color: white;
}

.input-botao{
    background-color: white;
    color: black;
    border: none;
    border-radius: 500px;
    padding: 1%;
    font-size: 2.1vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
}

.msg-sucess{
    background-color: #28A745;
    color: white;
    width: fit-content;
    padding: 1%;
    border-radius: 500px;
}

.msg-fail{
    background-color: #DC3545;
    color: white;
    width: fit-content;
    padding: 1%;
    border-radius: 500px;
}